@model IEnumerable<ThatSneakerShopLaced.Models.Shoe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @if (item.Hidden == false){
                    <td>
                        @Html.DisplayFor(modelItem => item.ShoeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShoeDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShoePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ShoeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ShoeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ShoeId">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
